<form action="<%=posts_url%>"method="post">
  <input type="hidden" name="authenticity_token"value="<%=form_authenticity_token%>">
  <input type="hidden" name="post[sub_id]"value="<%=params[:sub_id]%>"> 
  
  <label for="title">Title</label>
    <input type="text"id="title"name="post[title]"value="<%=@post.title%>">

  <label for="url">URL</label>
    <input type="text"id="url"name="post[url]"value="<%=@post.url%>">

  <label for="content">Content</label>
    <textarea name="post[content]" id="" cols="30" rows="10" >
      <%=@post.content%>
    </textarea>

  
  <input type="submit"value="Create Post">
</form>
